<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBRegexCaseSensitive</key>
	<true/>
	<key>XBRegexAllowCommentsAndWhitespace</key>
	<false/>
	<key>XBRegexIgnoreMetacharacters</key>
	<false/>
	<key>XBRegexDotMatchesLineSeparators</key>
	<false/>
	<key>XBRegexAnchorsMatchLines</key>
	<false/>
	<key>XBRegexUseUnixLineSeparators</key>
	<false/>
	<key>XBRegexUseUnicodeWordBoundaries</key>
	<false/>
	<key>XBHighlightColor1</key>
	<string>color(0.000, 0.145, 0.806, 1.000)</string>
	<key>XBHighlightColor2</key>
	<string>color(0.266, 0.798, 0.049, 1.000)</string>
	<key>XBHighlightColor3</key>
	<string>color(0.386, 0.000, 0.831, 1.000)</string>
	<key>XBHighlightColor4</key>
	<string>color(0.930, 0.090, 0.750, 1.000)</string>
</dict>
</plist>
