<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XBRegexCaseSensitive</key>
	<true/>
	<key>XBRegexAllowCommentsAndWhitespace</key>
	<false/>
	<key>XBRegexIgnoreMetacharacters</key>
	<false/>
	<key>XBRegexDotMatchesLineSeparators</key>
	<false/>
	<key>XBRegexAnchorsMatchLines</key>
	<false/>
	<key>XBRegexUseUnixLineSeparators</key>
	<false/>
	<key>XBRegexUseUnicodeWordBoundaries</key>
	<false/>
</dict>
</plist>
